@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;0,900;1,900&display=swap");

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #0a0b12;
  font-family: "Playfair Display", serif;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.without {
  height: calc(100vh - 80px);
}

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posterImage {
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage:hover {
  opacity: 1;
}

.objectPosition {
  object-position: 0 35%;
}

.shadowbox {
  box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.textShadows {
  text-shadow: 0px 0px 5px #000000;
}

.borderRaiusColor {
  border: 2px solid white;
}

@media (max-width: 678px) {
  .media {
    height: 100%;
  }
}
